<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item" aria-current="page" routerLink="/main/product-list">Product List</li>
      <li class="breadcrumb-item active" aria-current="page">{{isEdit ? 'Update Product':'Add Product'}} </li>
    </ol>
  </nav>
<div class="container">
    <div class="row ">
        <div class="col-md-8">
            
                <h3 class="fw-bold">{{isEdit ? 'Update Product':'Add Product'}}</h3>
                <form [formGroup]="productForm" (ngSubmit)="ProductSubmited()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Product_name </label>
                        <input type="text" class="form-control" placeholder="Enter your product_name"
                            formControlName="product_name"
                            [ngClass]="{ 'is-invalid': submitted && fvalue.product_name.errors }">
                        <div *ngIf="submitted && fvalue.product_name.errors" class="invalid-feedback">
                            <div *ngIf="fvalue.product_name.errors.required">Product_name is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Product_description </label>
                        <input type="text" class="form-control" placeholder="Enter your product_description"
                            formControlName="product_description"
                            [ngClass]="{ 'is-invalid': submitted && fvalue.product_description.errors }">
                        <div *ngIf="submitted && fvalue.product_description.errors" class="invalid-feedback">
                            <div *ngIf="fvalue.product_description.errors.required">Product_description is required
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Product_image </label>
                        <input type="text" class="form-control" placeholder="Enter your product_image"
                            formControlName="product_image"
                            [ngClass]="{ 'is-invalid': submitted && fvalue.product_image.errors }">
                        <div *ngIf="submitted && fvalue.product_image.errors" class="invalid-feedback">
                            <div *ngIf="fvalue.product_image.errors.required">Product_image is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Product_status </label>
                    <select class="form-select" aria-label="Default select example" formControlName="product_status"
                    [ngClass]="{ 'is-invalid': submitted && fvalue.product_status.errors }"> 
                        <option value="">select Status</option>
                        <option value="approved">Approved</option>
                        <option value="pending">Panding</option>
                        <option value="rejected">Rejected</option>
                      </select>
                      <div *ngIf="submitted && fvalue.product_status.errors" class="invalid-feedback">
                        <div *ngIf="fvalue.product_status.errors.required">Product_status is required</div>
                    </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">{{isEdit ? 'Update':'Save'}}</button>
                </form>
        
        </div>
    </div>
</div>