<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <div class="list-group">
            <a routerLink="editor" class="list-group-item list-group-item-action">Editor</a>
            <a routerLink="encrypt-decrypt" class="list-group-item list-group-item-action">Encrypt Decrypt</a>
            <a routerLink="device-detector" class="list-group-item list-group-item-action">Device Detector</a>
            <a routerLink="angular-dilog" class="list-group-item list-group-item-action">Angular Dilog</a>
            <a routerLink="google-map" class="list-group-item list-group-item-action">Google Map</a>
            <a routerLink="chart-example" class="list-group-item list-group-item-action">Chart Example</a>
            <a routerLink="pagination" class="list-group-item list-group-item-action">Pagination</a>
          </div>
      </div>
      <div class="col-md-10">
       <router-outlet></router-outlet>
      </div>
      
    </div>
  </div>
